<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head ('Josch :: Home')"></head>
<body>

<!-- Load the top navigation bar -->
<div th:replace="template :: header"></div>


<!-- introduction section -->
<div id="intro-txt" class="intro-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="contents">
                    <h2 class="head-title">Josch</h2>
                    <p>
                        <b>Josch</b> is a cockpit application that combines schema extraction and checking for JSON Schema
                        containment of third-party-tools to exploit their interactions. It can be used for schema-less
                        NoSQL document stores, but is currently geared for MongoDB.<br/>
                        <br/>
                        <b>Josch.web</b> is the web interface of Josch with its functionality being reduced to JSON Schema
                        containment using these third-party-tools.
                    </p>
                    <div class="header-button">
                        <a href="https://github.com/sdbs-uni-p/josch" class="btn btn-common">
                            <i class="fa fa-github"></i> Visit Project</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="intro-img">
                    <img class="img-fluid" th:src="@{images/about/intro-mobile.png}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end introduction section -->

<!-- Functionality Section Start -->
<section id="functionality" class="section-padding mt-3 pt-3">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Features</h2>
            <p class="wow fadeInDown" data-wow-delay="0.3s">
                The following features are available on the desktop version of Josch.
            </p>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">

            <!-- extract schema -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="fa fa-file-export"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>JSON Schema extraction</h3>
                        <p>
                            Extract a schema based on relative or absolute sampling with extraction tools.
                        </p>
                    </div>
                </div>
            </div>

            <!-- containment check -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="fa fa-code-branch"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>Semantical comparison</h3>
                        <p>
                            Compare two JSON Schemas semantically using different containment tools.
                        </p>
                    </div>
                </div>
            </div>

            <!-- swapping tools -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="0.9s">
                    <div class="icon">
                        <i class="fa fa-exchange-alt"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>Swap between tools</h3>
                        <p>
                            Switch between both extraction and containment tools within the application.
                        </p>
                    </div>
                </div>
            </div>

            <!-- json schema work -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>Work on JSON Schema</h3>
                        <p>
                            Load, modify, or create JSON Schemas. Compare two JSON Schemas syntactically and highlight
                            syntactical differences between them.
                        </p>
                    </div>
                </div>
            </div>

            <!-- historic version -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="1.5s">
                    <div class="icon">
                        <i class="fa fa-history"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>Historic Schema versions</h3>
                        <p>
                            Store and browse historic JSON Schema versions. Add a personal note when storing and filter
                            the JSON Schemas by the date of storing.
                        </p>
                    </div>
                </div>
            </div>

            <!-- validation -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="1.8s">
                    <div class="icon">
                        <i class="fa fa-check-double"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>Validation</h3>
                        <p>
                            Validate all or individual JSON documents against a JSON Schema. Get the amount of valid
                        documents and find those that do not validate. Furthermore, find out why the document fails
                        validation.
                    </div>
                </div>
            </div>

            <!-- server -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="2.1s">
                    <div class="icon">
                        <i class="fa fa-server"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>Explore the server</h3>
                        <p>
                            Explore the available databases on a server and gain insight on the amount
                            collections each database has.
                        </p>
                    </div>
                </div>
            </div>

            <!-- database -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="2.4s">
                    <div class="icon">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>Explore the database</h3>
                        <p>
                            Explore the available collections per database and gain insight on the amount
                            of present documents.
                        </p>
                    </div>
                </div>
            </div>

            <!-- collection -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="2.7s">
                    <div class="icon">
                        <i class="fa fa-table"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>Explore the collection</h3>
                        <p>
                            Show random document samples for a given collection. Edit and insert new documents into the
                            collection.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- mongodb headline -->
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="section-title wow fadeInDown" data-wow-delay="3.0s"> MongoDB specific features</h3>
                <div class="shape wow fadeInDown" data-wow-delay="3.0s"></div>
            </div>
        </div>

        <!-- mongodb features -->
        <div class="row">

            <!-- extract -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="3.3s">
                    <div class="icon">
                        <i class="fa fa-file-export"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>extract validator</h3>
                        <p>
                            Extract a MongoDB validator based on relative or absolute sampling.
                        </p>
                    </div>
                </div>
            </div>

            <!-- translate -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="3.6s">
                    <div class="icon">
                        <i class="fa fa-language"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>translate validator</h3>
                        <p>
                            Translate a given JSON Schema to a MongoDB validator.
                        </p>
                    </div>
                </div>
            </div>

            <!-- validate -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="functionality-item wow fadeInRight" data-wow-delay="3.9s">
                    <div class="icon">
                        <i class="fa fa-check-double"></i>
                    </div>
                    <div class="functionality-content">
                        <h3>document validation</h3>
                        <p>
                            Register a MongoDB validator at the database and use it for validation.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Functionality Section End -->


<!-- Load the footer -->
<div th:replace="template :: footer"></div>

<div th:replace="template :: script"></div>
<script th:src="@{js/setup.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>