<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head ('Josch :: Legal Notices')"></head>
<body>

<!-- Load the top navigation bar -->
<div th:replace="template :: header"></div>

<!-- legal notice content -->
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-12">
            <h3>Legal Notices</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4>This website is maintained by:</h4>
            <p>
                University of Passau<br>
                Innstrasse 41<br>
                94032 Passau<br>
                Germany<br>
                <br>
                Telephone: +49 851 5090<br>
                Fax: +49 851 509 1005<br>
                <br>
                <a href="mailto:president@uni-passau.de" title="Compose an e-mail">president@uni-passau.de</a><br>
                <a href="https://uni-passau.de">Website</a>
            </p>
        </div>
            <div class="col-8">
                <h5>Organisational structure and legal form</h5>
                <p>
                    The University of Passau is a statutory corporation and a state institution in
                    accordance with art. 11(1) of the Bavarian Higher Education Act (Bayerisches Hochschulgesetz;
                    BayHSchG). The University is supervised by the Bavarian State Ministry of Science and the Arts
                    (Bayerisches Staatsministerium für Wissenschaft und Kunst), Salvatorstr. 2, 80333 Munich.
                </p>
                <h5>Representation</h5>
                <p>The University of Passau is represented by its President, <abbr title="Professor*In">Prof.</abbr>
                    <abbr title="Doktor*In">Dr.</abbr> Ulrich Bartosch. Overall
                    responsibility for the content of the website rests with the President of the University of Passau.
                    Articles, posts or statements of any kind which bear the name of the author or authors or which are
                    subject to a separate legal disclaimer are the responsibility of the respective authors.</p>
            </div>
            <div class="col-12">

            </div>

        <!-- Load the footer -->
        <div th:replace="template :: footer"></div>

            <div th:replace="template :: script"></div>
</body>
</html>